<div class=" tira">
    <img src="../../../assets/imgExtras/FONDO_VERDE.png" alt="">
    <div class="caja mt-5">
        <div class="texto">
            <h2 class="text-uppercase text-white m-0">Subscribete a nuestro boletin</h2>
            <h4 class="cartel text-white m-0">Registrate para que estes al dia de eventos, festivales y mas...</h4>
        </div>
        <div class="mt-2">
            <button type="button" (click)="abrirModal()" class="btn btn-warning boton text-uppercase text-white">Donar Ahora</button>
        </div>
    </div>

</div>