<div class="row bady ">
    <div class="col-md-12 ">
        <div class="navegador">
            <app-navbar></app-navbar>
        </div>
    </div>
    <div class="col-md-12 ">
        <div class="banner ">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="col-md-12 ">
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>

<app-modal-donacion></app-modal-donacion>

<!--<app-navbar></app-navbar>

<div>
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer> -->