<div class="row pr-0">
    <div class="col-md-12 banner ">
        <app-banner></app-banner>
    </div>
    <div class="col-md-12 container slideVideos">
        <app-videos-carrusel></app-videos-carrusel>

    </div>

    <div class="col-md-12 tiraVerde">
        <app-imagenpublicidad></app-imagenpublicidad>
    </div>
    <div class="col-md-12 slideArtistas">
        <app-artistascarrusel></app-artistascarrusel>
    </div>
    <div class="col-md-12 tiraBlanca">
        <app-imagencanales></app-imagencanales>
    </div>

</div>
<!--

<div class=" contenedor ">
    <div class="row">
        <div class="col-md-12 mt-3">
            <h2 class="">Paises</h2>
        </div>

        <div class="col-md-12 mt-3 curr">
            <ul *ngFor="let pais of paises">
                <li>
                    <p (click)="onPaisClick( pais )"> {{ pais }}</p>
                </li>
            </ul>
        </div>

    </div>
</div> -->